{% extends "base.html" %}
 {% block content %}

<!-- menu section -->
<head>
{% load static %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
</head>

  <body>
<img src="{% static 'images/home2.jpg' %}" class="homeimage img-fluid" alt="home2image" />

<h1 class="diverse-fare">DIVERSE FARE</h1>
<div class="menu">
  
  <div class="container">
    {% for item in category %}

    <div class="card">
      <div class="card-img">
        <img src="{{item.image.url}}" alt="" />
      </div>
      <div class="card-content">
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
        
        <button><a href="{% url 'menu' item.name%}">Savor it</a></button>
      </div>
    </div>
    {% endfor %}
      </div>
</div>

{% endblock content %}



</body>
