<<<<<<< HEAD
body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: gill sans;
}
.navbar {
  background-color: #aa0000;
}

.logo {
  font-size: 30px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.logoimage {
  width: 50px;
  height: 50px;
}
.div {
  display: flex;
}
.navbar-toggler-icon {
  color: white;
}
.navbar-nav {
  margin-left: px;

  text-align: left;
}
.nav-item a {
  color: white;
  margin-left: 30px;
}
.nav-item a:hover {
  color: #ffba00;
  transition: 1s;
}
#dropdownMenuLink {
  color: white;
  margin-left: 10px;
}
#dropdownMenuLink:hover {
  color: #ffba00;
}
.btn:focus {
  border: none;
  outline: none;
}

#signin-btn a {
  text-decoration: none;
  font-size: 17px;
  margin-left: 30px;
  margin-top: 10px;
  color: white;
}

#signin-btn a:hover {
  color: #ffba00;
  transition: 1s;
}
.cart {
  margin-left: 30px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
}
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diverse-fare {
  text-align: center;
  margin: 20px;
  margin-top: 100px;
  font-weight: bold;
  font-family: gill sans;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 50px;
}
.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 330px;
  height: 300px;
  background: white;
  margin-top: 37px;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.15);
}
.container .card:hover {
  height: 400px;
}
.container .card .card-img {
  position: absolute;
  width: 300px;
  height: 230px;
  margin-left: 15px;
  margin-top: -30px;
  background: #333;
  border-radius: 12px;
  transition: 1s;
  overflow: hidden;
}
.container .card:hover .card-img {
  top: -50px;
  scale: 0.85;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
}
.container .card .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card .card-content {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 0 30px;
  top: 250px;
  height: 35px;
  overflow: hidden;
  transition: 1s;
}
.container .card:hover .card-content {
  height: 250px;
  top: 150px;
}
.card-content a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.card-content button {
  width: 100px;
  height: 40px;
  background-color: #aa0000;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
}
.card-content button:hover {
  box-shadow: 0px 2px 10px rgb(193, 189, 189);
}
.card-content h2 {
  font-weight: bold;
  font-family: gill sans;
  font-size: 27px;
}
.card-content p {
  font-weight: bold;
}

.footer {
  background-color: #aa0000;
  margin-top: 50px;
}
.footer-a {
  color: white;
}
=======
body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: gill sans;
}
.navbar {
  background-color: #aa0000;
}

.logo {
  font-size: 30px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.logoimage {
  width: 50px;
  height: 50px;
}
.div {
  display: flex;
}
.navbar-toggler-icon {
  color: white;
}
.navbar-nav {
  margin-left: px;

  text-align: left;
}
.nav-item a {
  color: white;
  margin-left: 30px;
}
.nav-item a:hover {
  color: #ffba00;
  transition: 1s;
}
#dropdownMenuLink {
  color: white;
  margin-left: 10px;
}
#dropdownMenuLink:hover {
  color: #ffba00;
}
.btn:focus {
  border: none;
  outline: none;
}

#signin-btn a {
  text-decoration: none;
  font-size: 17px;
  margin-left: 30px;
  margin-top: 10px;
  color: white;
}

#signin-btn a:hover {
  color: #ffba00;
  transition: 1s;
}
.cart {
  margin-left: 30px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
}
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diverse-fare {
  text-align: center;
  margin: 20px;
  margin-top: 100px;
  font-weight: bold;
  font-family: gill sans;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 50px;
}
.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 330px;
  height: 300px;
  background: white;
  margin-top: 37px;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.15);
}
.container .card:hover {
  height: 400px;
}
.container .card .card-img {
  position: absolute;
  width: 300px;
  height: 230px;
  margin-left: 15px;
  margin-top: -30px;
  background: #333;
  border-radius: 12px;
  transition: 1s;
  overflow: hidden;
}
.container .card:hover .card-img {
  top: -50px;
  scale: 0.85;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
}
.container .card .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card .card-content {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 0 30px;
  top: 250px;
  height: 35px;
  overflow: hidden;
  transition: 1s;
}
.container .card:hover .card-content {
  height: 250px;
  top: 150px;
}
.card-content a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.card-content button {
  width: 100px;
  height: 40px;
  background-color: #aa0000;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
}
.card-content button:hover {
  box-shadow: 0px 2px 10px rgb(193, 189, 189);
}
.card-content h2 {
  font-weight: bold;
  font-family: gill sans;
  font-size: 27px;
}
.card-content p {
  font-weight: bold;
}

.footer {
  background-color: #aa0000;
  margin-top: 50px;
}
.footer-a {
  color: white;
}
>>>>>>> 7c21ed5aeb93418d1ab75479e42e840677e8decc
